---
import Footer from "../components/footer.astro";
import GoogleAnalytics from "../components/google-analytics.astro";
import Header from "../components/header.astro";
import SquareLines from "../components/square-lines.astro";
import { SEO } from "astro-seo";
// import { getImagePath } from "astro-opengraph-images";

const { title, description, ogGraph } = Astro.props;
const { url, site } = Astro;
// const openGraphImageUrl = getImagePath({ url, site });
const contentOgGraph = site?.hostname + ogGraph;
const defaultOgGraph = site?.hostname + '/assets/new-afif.jpeg'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <GoogleAnalytics measurementId={'G-DZF7W2XZGC'} />
    <title>{title}</title>
    <link
    rel="alternate"
    type="application/rss+xml"
    title="Afif Alfiano"
    href={new URL("rss.xml", Astro.site)}/>
    <SEO
      title={title}
      description={description}
      twitter={{
        creator: "@alfianoano_8"
      }}
      openGraph={
        {
          basic: {
            title: title,
            type: "website",
            image: contentOgGraph || defaultOgGraph,
            url: url,
          },
          optional: {
            description: description
          }
        }
      }
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: contentOgGraph || defaultOgGraph,
          },
          { name: "twitter:title", content: title },
          { name: "twitter:description", content: description },
        ],
      }}
    />

    <!-- Used to add dark mode right away, adding here prevents any flicker -->
    <script is:inline>
      if (typeof Storage !== 'undefined') {
        if (
          localStorage.getItem('dark_mode') &&
          localStorage.getItem('dark_mode') == 'true'
        ) {
          document.documentElement.classList.add('dark')
        }
      }
    </script>

    <style>
      .prose img {
        border-radius: 20px;
      }
    </style>
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.png" />
    <script src="../assets/css/main.css"></script>
    <Fragment set:html={import.meta.env.HEADER_INJECT} />
  </head>
  <body class="antialiased bg-white dark:bg-neutral-950">
    <SquareLines />
    <Header />
    <slot />
    <Footer />
    <script src="../assets/js/main.js"></script>
    <Fragment set:html={import.meta.env.FOOTER_INJECT} />
  </body>
</html>
